.Siri_blog{
  border: 1px solid #f2c0ff;
  padding-left: 0px;  
  padding-right: 0px;
  float: none
}
.Siri_blog img{
 width:100%;
}
.Siri_blog h5,.Siri_blog p {
margin-left: 20px;
}
.Siri_blog hr{
  width: 230px;
}
.book_head{
  font-size: 20px;
  padding: 6px 22px;
  border-radius: 10px;
  margin-bottom: 15px;
  width: 100%;
  display: inline-block;
}
.book_head i{
   float: right;
}
.book_text span{
  color:#f2c0ff
}

.modal-content
{
margin-top: 100px;
}

.img_modal
{
  display: inline-block;
}
.p_modal
{
    margin-top: 10px;
}
.modal-body
{
  text-align: center
}

.book
{
cursor: pointer;
}

.book hr
{
margin-bottom: 10px;
}

.modal-content
{
margin-top: 100px;
}

.img_modal
{
  display: inline-block;
}
.p_modal
{
    margin-top: 10px;
}
.modal-body
{
  text-align: center
}

